header {
  width: 100%;
  height: 60px;
  background-color: #37373f;
  color: white;
  display: flex;
  align-items: center;
}

.logo-contenedor {
  width: 15%;
  display: flex;
  justify-content: center;
}

.nombre-contenedor {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-contenedor {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 40%;
  max-width: 400px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #e7e7e7;
  color: #0d0c22;
  padding-left: 10px;
}

.input {
  height: 40px;
  line-height: 28px;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #e7e7e7;
  transition: .3s ease;
}

.input::placeholder {
  color: #777;
}